<ul>
  <% if @list %>
  <% @list.each do |video| %>
  <li>
  <div id="v_container">

    <div id="v_container_right">
      <p><span class="yellow">[T]itle:</span>
      <%= video['title'].capitalize %></p>
      <p><span class="yellow">[D]escription:</span>
      <%= video['description'].capitalize %></p>
      <p><span class="yellow">[G]enre:</span>
      <%= video['genre'].capitalize %></p>
      <p>
        <a href="/one_tube?id=<%= video['id']%>">[WATCH]</a>
      </p>
    </div>
  </div>
  </li>
  <% end %>
</ul>
<% end %>